flows2.json
[{"id":"b5175638.dba808","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"95b6875c.229768","type":"http in","z":"b5175638.dba808","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":80,"y":80,"wires":[["97707799.96c838","37dc584c.421b38"]]},{"id":"97707799.96c838","type":"function","z":"b5175638.dba808","name":"Set to 1","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":60,"wires":[["b584672c.b52998"]]},{"id":"b584672c.b52998","type":"rpi-gpio out","z":"b5175638.dba808","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":640,"y":100,"wires":[]},{"id":"37dc584c.421b38","type":"function","z":"b5175638.dba808","name":"Return Status","func":"msg.payload = \"LED set to HIGH\"\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":320,"wires":[["8ff42ebf.a0cc1","45935f56.b7feb"]]},{"id":"8ff42ebf.a0cc1","type":"http response","z":"b5175638.dba808","name":"","statusCode":"","headers":{},"x":610,"y":360,"wires":[]},{"id":"45935f56.b7feb","type":"debug","z":"b5175638.dba808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":440,"wires":[]},{"id":"8752cf48.89939","type":"http in","z":"b5175638.dba808","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":190,"y":200,"wires":[["99254c77.58197","d19a4395.dab82"]]},{"id":"99254c77.58197","type":"function","z":"b5175638.dba808","name":"Clear to 0","func":"msg.payload =0;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["b584672c.b52998"]]},{"id":"d19a4395.dab82","type":"function","z":"b5175638.dba808","name":"Return Statue","func":"msg.payload=\"LED set to LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["8ff42ebf.a0cc1","45935f56.b7feb"]]}]